.searchdrug-byalphabate {
  background-color: rgb(249, 218, 218);
  width: 100vw;
}

.alphasuggestions-list {
  list-style-type: disc;
  padding: 0;
  margin-top: 40px;
  position: absolute;
  top: 80px;
  left: 30px;
  width: 520px;
  background-color: #fff; 
  border-radius: 5px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.alphasuggestions-list li {
  cursor: pointer;
  padding: 5px;
}
/* 
.alphasuggestions-list li.selected {
  background-color: #f0f0f0;
} */

/* .alphasuggestions-list li:hover {
  background-color: #f0f0f0;
} */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: gray;
}

.searchdrug-byalphabate {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.drugdetails {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;

margin-top: 300px;}

h3{
  color: brown;
}